body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  height: 100%;
  width: 100%;
}

a {
  color: inherit
}

td {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 16px;
}

@keyframes progress-indeterminate {
  from { left: -25%; width: 25%; }
  to { left: 100%; width: 50%;}
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.example-appear {
  opacity: 0;
}
.example-appear-active {
  opacity: 1;
  transition: opacity 300ms;
}
.example-exit {
  opacity: 1;
}
.example-exit-active {
  opacity: 0;
  transition: opacity 3000ms;
}